<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Realizado</title>
    <link rel="stylesheet" href="/static/formlario.css">
</head>
<body>
    <h1>Cadastro de {{usuario}} realizado com sucesso!</h1>
    <section>
        <h1>Vizualizar Usuários:</h1>
        <div class="opcoes">
            <a href="/usuarios/html">Ver usuários (HTML)</a> 
            <a href="/usuarios/json">Ver usuários (JSON)</a> 
            <a href="/usuarios/completo">Ver usuários (HTML + JSON)</a>
        </div>
    </section>
</body>
</html>